.container-main{
  height: 95vh;
  positon: relative;
  top:0;
  left:0;
}
.row{
  margin: 0px;
  width: 100%;
  height: inherit;
}
.chat {
  border: 5px;
  border-style: double;
  border-color: black ;
  height: inherit;
  overflow: auto;
  background-color: #334455;
  padding: 0px 10px;
}

.login{
  height:inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  background-color: #dddddd;
  opacity: 50%;
}

.chatroom{
  display: none;
}
.faq {
  height: inherit;
  background-color: white;
}

textarea {
  align-content: center;
  width: 90%;
  background-color: transparent;
  border: 5px;
  padding: 8px;
  overflow: hidden;
  resize: none;
  outline: none;
}

textarea[type="text"]
{
    color: #66D666;
    font-size:18px;
}

.inputBox{
  width: 100%;
  position:absolute;
  bottom:0;
  right:0;
  border-style: solid;
  border-width: 5px;
  background-color: #445566;
}

.messages{
  overflow: auto;
  max-height: 95%;
  color: #AAA;
  font-size: 18px;
}

.message{
  display: flex;
  flex-direction: row;
}

.message p{
  margin-bottom: 0px;
  hyphens: auto;
  word-wrap: break-word;
}

#submitMsg{
  position: absolute;
  bottom: 0;
  right: 0;
}

.glyphicon-send{
  font-size: 24px;
}
