.container-main{
  height: 95vh;
  positon: relative;
  top:0;
  left:0;
}
.row{
  margin: 0px;
  width: 100%;
  height: inherit;
}
.chat {
  border: 5px;
  border-style: double;
  border-color: white;
  height: inherit;
  overflow: scroll;
  background-color: #334455;
}

.faq {
  height: inherit;
  background-color: white;
}

input {
  align-content: center;
  width: 90%;
  background-color: transparent;
  border: 5px;
  padding: 8px;
}

input[type="text"]
{
    color: #66D666;
    font-size:18px;
}

.inputBox{
  width: 100%;
  margin: 5px;
  position:absolute;
  bottom:0;
  right:0;
  border-style: double;
  border-width: 1px;
  background-color: inherit;
}
.messages{
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  max-height: 95%;
}
.userMessages{
  color: #66D666;
  font-size: 18px;
}

#submitMsg{
  position: absolute;
  bottom: 0;
  right: 0;
}

.glyphicon-send{
  font-size: 24px;
}
