#container-main{
  background-color: #A2A2A2;
  width: inherit;
  height: 750px;
}

.navbar{
  margin: 0px;
}

#container-about{
  background-color: #888888;
  width: inherit;
  height: 300px;
}

#container-social{
  background-color: #A2A2A2;
  width: inherit;
  height: 300px;
}

#name{
  font-size: 144px;
  text-align: center;
}
